{
 "ProxyType": 1,
 "RootOrMatchingDomain": "dev.localhost",
 "MatchingDomainAlias": [],
 "ActiveOrigins": [
  {
   "OriginIpOrDomain": "0.0.0.0:300",
   "RequireTLS": false,
   "SkipCertValidations": true,
   "SkipWebSocketOriginCheck": true,
   "Weight": 1,
   "MaxConn": 0,
   "RespTimeout": 0
  }
 ],
 "InactiveOrigins": [],
 "UseStickySession": false,
 "UseActiveLoadBalance": false,
 "Disabled": false,
 "BypassGlobalTLS": true,
 "VirtualDirectories": [],
 "HeaderRewriteRules": {
  "UserDefinedHeaders": [],
  "RequestHostOverwrite": "",
  "HSTSMaxAge": 0,
  "EnablePermissionPolicyHeader": false,
  "PermissionPolicy": null,
  "DisableHopByHopHeaderRemoval": false
 },
 "EnableWebsocketCustomHeaders": false,
 "AuthenticationProvider": {
  "AuthMethod": 0,
  "BasicAuthCredentials": [],
  "BasicAuthExceptionRules": [],
  "BasicAuthGroupIDs": null,
  "ForwardAuthURL": "",
  "ForwardAuthResponseHeaders": null,
  "ForwardAuthResponseClientHeaders": null,
  "ForwardAuthRequestHeaders": null,
  "ForwardAuthRequestExcludedCookies": null
 },
 "RequireRateLimit": false,
 "RateLimit": 1000,
 "DisableUptimeMonitor": false,
 "DisableChunkedTransferEncoding": false,
 "AccessFilterUUID": "default",
 "DefaultSiteOption": 0,
 "DefaultSiteValue": "",
 "Tags": []
}