{
 "ProxyType": 1,
 "RootOrMatchingDomain": "kroki.localhost",
 "MatchingDomainAlias": [],
 "ActiveOrigins": [
  {
   "OriginIpOrDomain": ":::8091",
   "RequireTLS": false,
   "SkipCertValidations": false,
   "SkipWebSocketOriginCheck": true,
   "Weight": 2,
   "MaxConn": 0,
   "RespTimeout": 0
  },
  {
   "OriginIpOrDomain": "0.0.0.0:8091",
   "RequireTLS": false,
   "SkipCertValidations": false,
   "SkipWebSocketOriginCheck": true,
   "Weight": 1,
   "MaxConn": 0,
   "RespTimeout": 0
  }
 ],
 "InactiveOrigins": [],
 "UseStickySession": true,
 "UseActiveLoadBalance": false,
 "Disabled": false,
 "BypassGlobalTLS": true,
 "TlsOptions": {
  "DisableSNI": false,
  "DisableLegacyCertificateMatching": false,
  "EnableAutoHTTPS": false,
  "PreferredCertificate": {}
 },
 "VirtualDirectories": [],
 "HeaderRewriteRules": {
  "UserDefinedHeaders": [],
  "RequestHostOverwrite": "",
  "HSTSMaxAge": 0,
  "EnablePermissionPolicyHeader": false,
  "PermissionPolicy": null,
  "DisableHopByHopHeaderRemoval": false
 },
 "EnableWebsocketCustomHeaders": false,
 "AuthenticationProvider": {
  "AuthMethod": 0,
  "BasicAuthCredentials": [],
  "BasicAuthExceptionRules": [],
  "BasicAuthGroupIDs": null,
  "ForwardAuthURL": "",
  "ForwardAuthResponseHeaders": null,
  "ForwardAuthResponseClientHeaders": null,
  "ForwardAuthRequestHeaders": null,
  "ForwardAuthRequestExcludedCookies": null
 },
 "RequireRateLimit": false,
 "RateLimit": 1000,
 "DisableUptimeMonitor": false,
 "DisableChunkedTransferEncoding": false,
 "AccessFilterUUID": "default",
 "DefaultSiteOption": 0,
 "DefaultSiteValue": "",
 "Tags": []
}