{
 "ProxyType": 1,
 "RootOrMatchingDomain": "oauth2.localhost",
 "MatchingDomainAlias": [],
 "ActiveOrigins": [
  {
   "OriginIpOrDomain": ":::9443",
   "RequireTLS": true,
   "SkipCertValidations": true,
   "SkipWebSocketOriginCheck": true,
   "Weight": 2,
   "MaxConn": 0,
   "RespTimeout": 0
  },
  {
   "OriginIpOrDomain": "127.0.0.1:9443",
   "RequireTLS": true,
   "SkipCertValidations": true,
   "SkipWebSocketOriginCheck": true,
   "Weight": 1,
   "MaxConn": 0,
   "RespTimeout": 0
  },
  {
   "OriginIpOrDomain": ":::9000",
   "RequireTLS": false,
   "SkipCertValidations": true,
   "SkipWebSocketOriginCheck": true,
   "Weight": 1,
   "MaxConn": 0,
   "RespTimeout": 0
  },
  {
   "OriginIpOrDomain": "127.0.0.1:9000",
   "RequireTLS": false,
   "SkipCertValidations": true,
   "SkipWebSocketOriginCheck": true,
   "Weight": 0,
   "MaxConn": 0,
   "RespTimeout": 0
  }
 ],
 "InactiveOrigins": [],
 "UseStickySession": false,
 "UseActiveLoadBalance": false,
 "Disabled": false,
 "BypassGlobalTLS": false,
 "VirtualDirectories": [],
 "HeaderRewriteRules": {
  "UserDefinedHeaders": [],
  "RequestHostOverwrite": "",
  "HSTSMaxAge": 0,
  "EnablePermissionPolicyHeader": false,
  "PermissionPolicy": null,
  "DisableHopByHopHeaderRemoval": false
 },
 "EnableWebsocketCustomHeaders": false,
 "AuthenticationProvider": {
  "AuthMethod": 0,
  "BasicAuthCredentials": [],
  "BasicAuthExceptionRules": [],
  "BasicAuthGroupIDs": null,
  "ForwardAuthURL": "",
  "ForwardAuthResponseHeaders": null,
  "ForwardAuthResponseClientHeaders": null,
  "ForwardAuthRequestHeaders": null,
  "ForwardAuthRequestExcludedCookies": null
 },
 "RequireRateLimit": false,
 "RateLimit": 0,
 "DisableUptimeMonitor": false,
 "DisableChunkedTransferEncoding": false,
 "AccessFilterUUID": "default",
 "DefaultSiteOption": 0,
 "DefaultSiteValue": "",
 "Tags": [
  "Auth",
  "dashboard",
  "management",
  "it"
 ]
}