{
    "ProxyType": 0,
    "RootOrMatchingDomain": "/",
    "MatchingDomainAlias": [],
    "ActiveOrigins": [
        {
            "OriginIpOrDomain": "localhost",
            "RequireTLS": true,
            "SkipCertValidations": true,
            "SkipWebSocketOriginCheck": true,
            "Weight": 1,
            "MaxConn": 0,
            "RespTimeout": 0
        }
    ],
    "InactiveOrigins": [],
    "UseStickySession": false,
    "UseActiveLoadBalance": false,
    "Disabled": false,
    "BypassGlobalTLS": false,
    "VirtualDirectories": [],
    "HeaderRewriteRules": {
        "UserDefinedHeaders": [],
        "RequestHostOverwrite": "",
        "HSTSMaxAge": 0,
        "EnablePermissionPolicyHeader": false,
        "PermissionPolicy": {
            "accelerometer": [
                "*"
            ],
            "ambient_light_sensor": [
                "*"
            ],
            "autoplay": [
                "*"
            ],
            "battery": [
                "*"
            ],
            "camera": [
                "*"
            ],
            "cross_origin_isolated": [
                "*"
            ],
            "display_capture": [
                "*"
            ],
            "document_domain": [
                "*"
            ],
            "encrypted_media": [
                "*"
            ],
            "execution_while_not_rendered": [
                "*"
            ],
            "execution_while_out_of_viewport": [
                "*"
            ],
            "fullscreen": [
                "*"
            ],
            "geolocation": [
                "*"
            ],
            "gyroscope": [
                "*"
            ],
            "keyboard_map": [
                "*"
            ],
            "magnetometer": [
                "*"
            ],
            "microphone": [
                "*"
            ],
            "midi": [
                "*"
            ],
            "navigation_override": [
                "*"
            ],
            "payment": [
                "*"
            ],
            "picture_in_picture": [
                "*"
            ],
            "publickey_credentials_get": [
                "*"
            ],
            "screen_wake_lock": [
                "*"
            ],
            "sync_xhr": [
                "*"
            ],
            "usb": [
                "*"
            ],
            "web_share": [
                "*"
            ],
            "xr_spatial_tracking": [
                "*"
            ],
            "clipboard_read": [
                "*"
            ],
            "clipboard_write": [
                "*"
            ],
            "gamepad": [
                "*"
            ],
            "speaker_selection": [
                "*"
            ],
            "conversion_measurement": [
                "*"
            ],
            "focus_without_user_activation": [
                "*"
            ],
            "hid": [
                "*"
            ],
            "idle_detection": [
                "*"
            ],
            "interest_cohort": [
                "*"
            ],
            "serial": [
                "*"
            ],
            "sync_script": [
                "*"
            ],
            "trust_token_redemption": [
                "*"
            ],
            "unload": [
                "*"
            ],
            "window_placement": [
                "*"
            ],
            "vertical_scroll": [
                "*"
            ]
        },
        "DisableHopByHopHeaderRemoval": false
    },
    "EnableWebsocketCustomHeaders": false,
    "AuthenticationProvider": {
        "AuthMethod": 0,
        "BasicAuthCredentials": [],
        "BasicAuthExceptionRules": [],
        "BasicAuthGroupIDs": [],
        "ForwardAuthURL": "",
        "ForwardAuthResponseHeaders": [],
        "ForwardAuthResponseClientHeaders": [],
        "ForwardAuthRequestHeaders": [],
        "ForwardAuthRequestExcludedCookies": []
    },
    "RequireRateLimit": false,
    "RateLimit": 0,
    "DisableUptimeMonitor": false,
    "AccessFilterUUID": "",
    "DefaultSiteOption": 2,
    "DefaultSiteValue": "http://dashboard.localhost/home",
    "Tags": []
}