{
 "ProxyType": 0,
 "RootOrMatchingDomain": "/",
 "MatchingDomainAlias": null,
 "ActiveOrigins": [
  {
   "OriginIpOrDomain": "localhost",
   "RequireTLS": true,
   "SkipCertValidations": true,
   "SkipWebSocketOriginCheck": true,
   "Weight": 1,
   "MaxConn": 0,
   "RespTimeout": 0
  }
 ],
 "InactiveOrigins": [],
 "UseStickySession": false,
 "UseActiveLoadBalance": false,
 "Disabled": false,
 "BypassGlobalTLS": false,
 "VirtualDirectories": null,
 "HeaderRewriteRules": null,
 "EnableWebsocketCustomHeaders": false,
 "AuthenticationProvider": null,
 "RequireRateLimit": false,
 "RateLimit": 0,
 "DisableUptimeMonitor": false,
 "AccessFilterUUID": "",
 "DefaultSiteOption": 2,
 "DefaultSiteValue": "http://dashboard.localhost/home",
 "Tags": null
}