*~
caddy
srv
searxng/uwsgi.ini
.env
.DS_Store
pdf/logs
pdf/extraConfigs/db
pdf/extraConfigs/stirling-pdf-DB-2.3.232.mv.db
pdf/trainingData
puter/data
*/**/*.key
*/**/*.pub
*/**/*.pem
*/**/*.crt
*/**/*.csr
*/**/*.cer
*/**/*.p12
*/**/*.pfx
*/**/*.jks
*/**/*.keystore
*/**/*.truststore
*/**/*.der
*/**/*.p7b
*/**/*.p7c
*/**/*.p7r
*/**/*.p7s
dashy/config-backups
mariadb_data/**/*.*
mariadb_data/*.*
ngninx/data/logs/**/*.*
ngninx/data/logs/*.*
ngninx/ssl/accounts/acme-v02.api.letsencrypt.org/directory/ef3424b80e2757204cb847287186fd2d/private_key.json
mariadb_data/aria_log_control
mariadb_data/ib_buffer_pool
mariadb_data/ib_logfile0
mariadb_data/ibdata1
mariadb_data/ibtmp1
mariadb_data/mariadb_upgrade_info
mariadb_data/undo001
mariadb_data/undo002
mariadb_data/undo003
