*~
caddy
srv
searxng/uwsgi.ini
.env
.DS_Store
pdf/logs
pdf/extraConfigs/db
pdf/extraConfigs/stirling-pdf-DB-2.3.232.mv.db
pdf/trainingData
*/**/*.key
*/**/*.pub
*/**/*.pem
*/**/*.crt
*/**/*.csr
*/**/*.cer
*/**/*.p12
*/**/*.pfx
*/**/*.jks
*/**/*.keystore
*/**/*.truststore
*/**/*.der
*/**/*.p7b
*/**/*.p7c
*/**/*.p7r
*/**/*.p7s
dashy/config-backups