*~
caddy
srv
searxng/uwsgi.ini
.env
.DS_Store
pdf/logs
pdf/extraConfigs/db
pdf/extraConfigs/stirling-pdf-DB-2.3.232.mv.db
pdf/trainingData/
pdf/extraConfigs/backup
mariadb_data/
postgresql_data/
npmplus/data/tls/
npmplus/data/npmplus
npmplus/data/modsecurity/crs-plugins
glance/.env
all-databases.sql
paperless/
rustdesk/
code-server/
open-webui/
adguardhome/
squid/cache/
squid/logs/
wordpress-data/
synapse-cbps/media_store/
synapse-cbps/homeserver.db
synapse-cbps/matrix.comboompunktsucht.app.log.config
synapse-cbps/matrix.comboompunktsucht.app.signing.key
synapse-mahd/media_store/
synapse-mahd/homeserver.db
synapse-mahd/matrix.mcpeapsunterstrichhd.dev.log.config
synapse-mahd/matrix.mcpeapsunterstrichhd.dev.signing.key
grafana/etc/provisioning/
grafana/etc/ldap.toml
grafana/usr/
grafana/var/
gitlab/
postgres/
pgadmin/var/lib/pgadmin4.db
/pgadmin/var/lib/sessions
/pgadmin/var/lib/storage
.DS_Store
uptime-kuma/kuma.db-shm
uptime-kuma/kuma.db-wal
uptime-kuma/kuma.db
searxng/conf/faviconcache.db-shm
searxng/conf/faviconcache.db
searxng/conf/faviconcache.db-wal
phpmyadmin/save/
