[Unit]
Description=SearXNG service
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure

Environment=SEARXNG_DOCKERCOMPOSEFILE=docker-compose.yaml

WorkingDirectory=/Users/mahd/DEV/searxng/
ExecStart=/opt/homebrew/bin/docker-compose -f ${SEARXNG_DOCKERCOMPOSEFILE} up -d --remove-orphans
ExecStop=/opt/homebrew/bin/docker-compose -f ${SEARXNG_DOCKERCOMPOSEFILE} down

[Install]
WantedBy=multi-user.target
