[req]
default_bits       = 4096
prompt             = no
default_md         = sha256
distinguished_name = dn
req_extensions     = req_ext

[dn]
C  = DE
ST = Berlin
L  = Berlin
O  = Localhost Cert
OU = Production
CN = localhost

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = dev.localhost
DNS.3 = fritz.box.local
DNS.4 = fritz.box.localhost
DNS.5 = hedgedoc.localhost
DNS.6 = it-tools.localhost
DNS.7 = dashboard.localhost
DNS.8 = oauth2.localhost
DNS.9 = paperless.localhost
DNS.10 = phpmyadmin.localhost
DNS.11 = portainer.localhost
DNS.12 = rustdesk.localhost
DNS.13 = search.localhost
DNS.14 = stirling-pdf.localhost
DNS.15 = zoraxy.localhost
DNS.16 = *.localhost
