# Copyright (c) 2025 mcpeaps_HD
#
# This software is released under the MIT License.
# https://opensource.org/licenses/MIT
server:
  port: 8086
  host: 0.0.0.0
  assets-path: /app/assets

theme:
  background-color: 221 17 22
  primary-color: 92 29 64
  contrast-multiplier: 1.2
  positive-color: 92 29 64
  negative-color: 355 44 57
  custom-css-file: /assets/user.css
  disable-picker: true

pages:
  $include: /myPages/home.yml
  $include: /myPages/social.yml
  $include: /myPages/dev.yml
  $include: /myPages/gaming.yml

branding:
  custom-footer: |
    <a href="/home">2025 &copy; Fabian Aps</a>
  logo-url: /assets/logo.png
  favicon-url: /assets/logo.png
  app-name: "My Dashboard"
  app-icon-url: "/assets/logo.png"
  app-background-color: "#2e3440"
